@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap&subset=cyrillic-ext);

@font-face {
  font-family: "AngleciaProDisplay";
  font-display: swap;
  src: url("../fonts/AngleciaProDisplay-Regular.woff") format("woff"), url("../fonts/AngleciaProDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Open Sans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Open Sans";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0px -15px;
}

.form__column {
  padding: 0px 15px;
}

.btn {
  display: inline-block;
  padding: 0px 0px;
}

.ibg {
  position: relative;
}

body.ie .ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie .ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.slick-slider {
  position: relative;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-slider .slick-list {
  position: relative;
  width: 100%;
}

.slick-slider .slick-track {
  position: relative;
  max-width: 2400px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.slick-slider .slick-arrow {
  min-width: 45px;
  height: 45px;
  border: 1px solid #979797;
  background-color: #ffffff;
}

.slick-slider .slick-arrow.slick-prev {
  position: absolute;
  bottom: -75px;
  left: 210px;
}

.slick-slider .slick-arrow.slick-prev::before {
  content: "";
  width: 18px;
  height: 1px;
  background-color: #979797;
  position: absolute;
  top: 15px;
  right: 14px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.slick-slider .slick-arrow.slick-prev::after {
  content: "";
  width: 18px;
  height: 1px;
  background-color: #979797;
  position: absolute;
  bottom: 15px;
  right: 14px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.slick-slider .slick-arrow.slick-next {
  position: absolute;
  bottom: -75px;
  left: 280px;
}

.slick-slider .slick-arrow.slick-next::before {
  content: "";
  width: 18px;
  height: 1px;
  background-color: #979797;
  position: absolute;
  top: 15px;
  right: 11px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.slick-slider .slick-arrow.slick-next::after {
  content: "";
  width: 18px;
  height: 1px;
  background-color: #979797;
  position: absolute;
  bottom: 15px;
  right: 11px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  padding: 44px 0;
  z-index: 3;
}

.header__container {
  max-width: 1524px;
  padding: 0 12px;
  margin: 0 auto;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  width: 92px;
  height: 53px;
  margin: 0px 0px 0px 39px;
  background: url("../img/Logo.svg") center/contain no-repeat;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__tel {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
}

.header__btn {
  color: #fff;
  border: 1.5px solid #fff;
  margin: 0px 0px 0px 34px;
}

.footer {
  background-color: #F3F3F3;
  color: #000000;
  padding: 147px 0px 0px 0px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin: 0px 0px 44px 0px;
}

.footer__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  opacity: 0.5;
  max-width: 425px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0px 86px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__tel {
  margin: 0px 0px 20px 30px;
}

.footer__tel::before {
  content: '';
  position: absolute;
  top: 4px;
  left: -29px;
  width: 16px;
  height: 16px;
  background: url("../img/footer/tel.svg") no-repeat;
}

.footer__mail {
  margin: 0px 0px 0px 30px;
}

.footer__mail::before {
  content: '';
  position: absolute;
  top: 6px;
  left: -29px;
  width: 16px;
  height: 16px;
  background: url("../img/footer/mail.svg") no-repeat;
}

.footer__btn {
  color: #717171;
  border: 1.5px solid #717171;
}

.footer__item {
  margin: 0px 0px 18px 0px;
}

.footer__item:last-child {
  margin: 0px 0px 0px 0px;
}

.footer__link {
  font-size: 18px;
  color: #000000;
}

.footer__line {
  width: 100%;
  opacity: 0.1;
  border: 1px solid #000000;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__webservices {
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  padding: 46px 0px;
}

.footer__skype,
.footer__facebook,
.footer__instagram {
  color: #000000;
  margin: 0px 40px 0px 0px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__instagram {
  margin: 0px 0px 0px 0px;
}

.footer__autor {
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  opacity: 0.5;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.no-webp .about{
  background: url("../img/about/background.jpg") 20% center/cover no-repeat; }

.about {
  height: 850px;
  padding: 0px 0px 117px 0px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.about::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.about__container {
  position: relative;
  width: 100%;
  z-index: 2;
}

.about__content {
  max-width: 600px;
}

.about__title {
  margin: 0px 0px 46px 0px;
}

.offers {
  height: 766px;
  background-color: #212121;
  color: #fff;
  padding: 200px 0px 0px 0px;
  position: relative;
  z-index: 1;
}

.offers__title {
  margin: 0px 0px 53px 0px;
}

.offers__subtitle {
  max-width: 500px;
}

.zona {
  height: 900px;
  padding: 0px 0px 93px 0px;
  position: relative;
}

.zona__row {
  position: absolute;
  top: -350px;
  left: 3%;
  z-index: 3;
  max-width: 100% !important;
}

.zona__container {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.zona__title {
  margin: 0px 0px 50px 0px;
}

.zona__subtitle {
  max-width: 625px;
  opacity: 0.5;
}

.location {
  padding: 183px 0px 100px 0px;
}

.location__container {
  position: relative;
}

.location__content {
  margin: 0px 0px 71px 0px;
}

.location__title {
  margin: 0px 0px 51px 0px;
}

.location__subtitle {
  opacity: 0.5;
  max-width: 500px;
}

.location__img {
  display: block;
  width: 1512px;
  height: 575px;
}

.characteristic {
  padding: 103px 0px 185px 0px;
}

.characteristic__content {
  margin: 0px 0px 211px 0px;
}

.characteristic__title {
  margin: 0px 0px 51px 0px;
}

.characteristic__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.characteristic__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 90px 0px 0px;
}

.characteristic__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75px;
          flex: 0 0 75px;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  margin: 0px 0px 33px 0px;
}

.pictures {
  padding: 106px 0px 97px 0px;
  background-color: #212121;
}

.pictures__content {
  width: 100vw;
  overflow: scroll;
}

.pictures__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 64px 0px;
}

.pictures__item {
  margin: 0px 29px 0px 0px;
}

.pictures__img {
  width: 376px;
  height: 245px;
}

.pictures__title {
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  margin: 22px 0px 19px 0px;
}

.pictures__subtitle {
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  opacity: 0.5;
  max-width: 265px;
}

.pictures__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pictures__more {
  display: none;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__item {
  display: block;
  max-width: 1150px;
}

.slider__teg {
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  color: #FFFFFF;
  opacity: 0.5;
  margin: 0px 0px 12px 0px;
  position: absolute;
  top: -30px;
  left: 0;
}

.slider__teg--right {
  text-align: right;
  right: 0;
}

.slider__body {
  width: 1073px;
  height: 708px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 62px 68px 62px 68px;
}

.no-webp .slider__body--first{
  background: url("../img/slider-one/1.jpg") center/cover no-repeat; }

.no-webp .slider__body--last{
  background: url("../img/slider-one/3.jpg") center/cover no-repeat; }

.slider__title {
  font-family: "AngleciaProDisplay";
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin: 0px 0px 30px 0px;
}

.slider__subtitle {
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  opacity: 0.6;
  max-width: 560px;
}

.blog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-item__body {
  display: block;
  margin: 0px 29px 0px 0px;
}

.blog-item__body:last-child {
  margin: 0px 0px 0px 0px;
}

.blog-item__img {
  width: 423px;
  height: 217px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.blog-item__title {
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  margin: 28px 0px 0px 0px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn {
  width: 167px;
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 18px;
  text-transform: capitalize;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.title {
  font-family: "AngleciaProDisplay";
  font-weight: 400;
  font-size: 50px;
  line-height: 62px;
}

.subtitle {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.link {
  color: #000000;
  opacity: 0.6;
  font-size: 16px;
  line-height: 22px;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.d-none {
  display: none;
}

@media (min-width: 991.98px) {
  .footer__link:hover {
    opacity: 0.6;
  }

  .footer__skype:hover,
  .footer__facebook:hover,
  .footer__instagram:hover {
    opacity: 0.6;
  }

  .blog-item__img:hover {
    -webkit-transform: scale(1.1111);
        -ms-transform: scale(1.1111);
            transform: scale(1.1111);
  }

  .blog-item__title:hover {
    opacity: 0.5;
  }

  .btn:hover {
    background-color: #212121;
    color: #fff;
    border: 1.5px solid #212121;
  }

  .link:hover {
    opacity: 1;
  }
}

@media (max-width: 1500px) {
  .slider__body {
    width: 850px;
  }

  .blog-item {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0px 0px 0px 0px;
  }

  .blog-item__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 32%;
            flex: 0 0 32%;
    margin: 0px 0px 0px 0px;
  }

  .blog-item__img {
    width: 100%;
  }
}

@media (max-width: 1300px) {
  .slider__body {
    width: 650px;
  }
}

@media (max-width: 1182px) {
  .container {
    max-width: 970px;
  }

  .slick-slider .slick-arrow.slick-prev {
    left: 0px;
  }

  .slick-slider .slick-arrow.slick-next {
    left: 80px;
  }

  .header__container {
    max-width: 984px;
  }

  .header__logo {
    margin: 0px;
  }

  .footer {
    padding: 77px 0px 0px 0px;
  }

  .footer__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__col:first-child {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .footer__col-full {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .footer__social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin: 35px 0px 32px 0px;
  }

  .footer__contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 28px);
            flex: 0 0 calc(50% - 28px);
  }

  .footer__tel {
    margin: 0px 0px 0px 0px;
  }

  .footer__mail {
    margin: 0px 0px 0px 0px;
  }

  .zona {
    height: 850px;
  }

  .zona__row {
    left: 2%;
  }

  .location__img {
    margin-left: -25%;
    min-width: 100%;
    height: 577px;
  }

  .characteristic__content {
    margin: 0px 0px 159px 0px;
  }

  .characteristic__row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .characteristic__col:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
    padding: 0px 40px 0px 0px;
  }

  .characteristic__col:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    padding: 0px 0px 0px 0px;
  }

  .slider__body {
    width: calc(100vw - 45px);
  }

  .d-none-lg {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }

  .header__container {
    max-width: 750px;
  }

  .location__img {
    margin-left: -60%;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }

  .form__info {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  .header {
    padding: 34px 0;
  }

  .header__container {
    max-width: none;
    padding: 0 20px;
  }

  .header__logo {
    width: 60px;
  }

  .header__tel {
    font-size: 16px;
  }

  .header__btn {
    margin: 0px 0px 0px 45px;
  }

  .footer__contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__tel {
    margin: 0px 0px 15px 0px;
  }

  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__autor {
    margin: 20px 0px 40px 0px;
  }

  .about {
    height: 446px;
  }

  .about__content {
    max-width: 490px;
  }

  .about__title {
    margin: 0px 0px 15px 0px;
  }

  .offers {
    height: 539px;
    padding: 75px 0px 0px 0px;
  }

  .offers__title {
    margin: 0px 0px 39px 0px;
  }

  .zona {
    height: 440px;
    padding: 0px 0px 69px 0px;
  }

  .zona__row {
    top: -260px;
  }

  .zona__title {
    margin: 0px 0px 33px 0px;
  }

  .location {
    padding: 124px 0px 70px 0px;
  }

  .location__title {
    margin: 0px 0px 25px 0px;
  }

  .location__subtitle {
    max-width: 450px;
  }

  .location__img {
    margin-left: -65%;
  }

  .characteristic {
    padding: 70px 0px 136px 0px;
  }

  .characteristic__content {
    margin: 0px 0px 117px 0px;
  }

  .characteristic__title {
    margin: 0px 0px 62px 0px;
  }

  .characteristic__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .characteristic__item {
    margin: 0px 0px 20px 0px;
  }

  .pictures__top {
    margin: 0px 0px 0px 0px;
  }

  .pictures__bottom {
    display: none;
  }

  .slider__body {
    height: 374px;
  }

  .blog-item__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
  }

  .blog-item__body:last-child {
    display: none;
  }

  .blog-item__title {
    max-width: 155px;
  }

  .btn {
    width: 132px;
    height: 40px;
    font-size: 16px;
  }

  .title {
    font-size: 35px;
    line-height: 44px;
  }

  .subtitle {
    font-size: 16px;
    line-height: 22px;
  }

  .text-sm {
    max-width: 350px;
  }
}

@media (max-width: 641px) {
  .location__img {
    margin-left: -84%;
  }
}

@media (max-width: 580px) {
  .location__img {
    width: 795px;
    height: 303px;
    margin-left: -30%;
  }
}

@media (max-width: 479.98px) {
  .header {
    position: relative;
    background-color: #fff;
    padding: 10px 0;
  }

  .no-webp .header__logo{
    background: url("../img/Logo-sm.png") center/contain no-repeat; }

  .header__tel {
    color: #212121;
  }

  .header__btn {
    display: none;
  }

  .footer {
    padding: 46px 0px 0px 0px;
  }

  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__col {
    margin: 0px 0px 54px 0px;
  }

  .footer__title {
    margin: 0px 0px 30px 0px;
  }

  .footer__social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0px 0px 0px 0px;
  }

  .footer__contact {
    margin: 0px 0px 40px 30px;
  }

  .footer__webservices {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 40px 0px;
  }

  .footer__autor {
    margin: 18px 0px;
  }

  .about {
    height: 396px;
    padding: 0px 0px 57px 0px;
  }

  .about__content {
    max-width: 270px;
  }

  .about__title {
    margin: 0px 0px 25px 0px;
  }

  .about__title br {
    display: none;
  }

  .about__subtitle {
    margin: 0px 0px 35px 0px;
    font-size: 15px;
    line-height: 20px;
  }

  .about__btn {
    color: #fff;
    border: 1.5px solid #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .offers__subtitle {
    max-width: 290px;
  }

  .zona {
    padding: 0px 0px 43px 0px;
  }

  .location {
    padding: 78px 0px 75px 0px;
  }

  .location__content {
    margin: 0px 0px 46px 0px;
  }

  .location__img {
    margin-left: -60%;
  }

  .characteristic__content {
    margin: 0px 0px 50px 0px;
  }

  .pictures {
    padding: 70px 0px 70px 0px;
  }

  .pictures__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .pictures__item {
    margin: 0px 0px 33px 0px;
  }

  .pictures__img {
    width: calc(100% - 20px);
  }

  .pictures__more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #FFFFFF;
    opacity: 0.5;
  }

  .pictures__more img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 2px 10px 0px 10px;
  }

  .slider__body {
    height: 440px;
    padding: 37px 12px;
    width: calc(100vw - 35px);
  }

  .slider__title {
    font-size: 28px;
    line-height: 35px;
  }

  .blog-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .blog-item__body {
    margin: 0px 0px 34px 0px;
  }

  .blog-item__body:last-child {
    display: block;
    margin: 0px 0px 0px 0px;
  }

  .title {
    font-size: 28px;
    line-height: 35px;
  }

  .d-none-sm {
    display: none;
  }
}

@media (max-width: 350px) {
  .location__img {
    margin-left: -95%;
  }
}

.webp .check.active:before{ background: url(../img/icons/check.webp) center no-repeat; }

.webp .option.active:before{ background: url(../img/icons/option.webp) center no-repeat; }

.webp .about{ background: url(../img/about/background.webp) 20% center/cover no-repeat; }

.webp .slider__body--first{ background: url(../img/slider-one/1.webp) center/cover no-repeat; }

.webp .slider__body--last{ background: url(../img/slider-one/3.webp) center/cover no-repeat; }

@media (max-width: 479.98px){

  .webp .header__logo{ background: url(../img/Logo-sm.webp) center/contain no-repeat; }
}